.lrcontainer{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: min-content;
}
.img-1{
        display: block;
        /* Set the width and height to match the intrinsic size */
        width: 500px;
        height: 512px;

        border-radius:300px;
        object-position: center;
        object-fit: cover;
        image-rendering: auto;
        margin-top: 30px;

    
}
.h3{
    font-weight: 700;
    word-spacing: -1px;
}